<h1 class="text-3xl text-center font-bold">Welcome <b><%= @current_user.email %></b></h1>

<% if @categories.empty? %>
  <h2 class="text-center">No categories available at the moment.</h2>
<% end %>

<div class="flex items-center justify-end mb-6">
  <%= link_to 'Add New Category', new_group_path, class: "btn-primary" %>
</div>

<div class="w-10/12 mx-auto">
  <ul>
    <% @categories.each do |category| %>
      <li class="my-6">
        <p><%= category.icon %></p>
        <p><%= category.name %></p>
      </li>
    <% end %>
  </ul>
</div>
